{% extends "template.html" %}

{% block Head%}
<title>Home</title>
<style>

  .jumbotron {
    animation: transitionid 900ms;
  }

 
  @keyframes transitionid {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>
{% endblock %}
{% block Content %}
<!-- welcome panel -->
<div class="jumbotron animate-from-right">
  <h1 class="display-4">welcome to monopoly simulator !</h1>
  <p class="lead">to do ...</p>
  <hr class="my-4">
  <p>to do...</p>
  <a class="btn btn-dark btn-lg" href="/about" role="button">Learn more</a>
</div>
{% endblock %}